.lead__column_caption {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 768px) {
  .lead__column_caption {
    padding-left: 24px;
  }
}
@media (max-width: 320px) {
  .lead__column_caption {
    padding-left: 16px;
  }
}
